<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p (%C{1}:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="APPLOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File"   value="snoits.log" />
        <param name="MaxFileSize" value="3000KB" />
        <param name="encoding" value="UTF-8" />

        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                <!-- The file to roll to, this is a fairly intelligent parameter, if the file
                ends in .gz, it gzips it, based on the date stamp it rolls at that time,
                default is yyyy-MM-dd, (rolls at midnight)
                See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
                <param name="FileNamePattern" value="/snoits.%d.log.gz" />
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
        </layout>
    </appender>


    <root>
        <priority value="debug" />
        <appender-ref ref="stdout" />
        <appender-ref ref="APPLOGFILE" />
    </root>

</log4j:configuration>