@charset "UTF-8";
/* CSS.CSS v.2.0 */

/* @group ESSENTIALS */

/* ------------------------------------ESSENTIALS------------------------------------ */
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	line-height: 14px;
}

body {
	background-color: #fff;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

a img {
	border: 0px;
}

body a:link {
	color: #000;
	text-decoration: none;
	font-weight:bold;
	font-size:12px;
}

body a:visited {
	text-decoration: none;
	color: #000;
	font-weight:bold;
	font-size:12px;
}

body a:hover {
	text-decoration: none;
	color:#F60;
	font-weight:bold;
	font-size:12px;
}

body a:active {
	text-decoration: none;
	color: #F60;
	font-weight:bold;
	font-size:12px;
}

label {
	display: block;
	font-weight: bold;
	padding-bottom: 6px;
}

input {
	margin:0px;
	margin-top: 1px;
	padding: 0px;
	padding-top:4px;
	height: 18px;
	border: 0px;
	font-size: 11px;
	color: #777;
	max-width: 150px;
	float: none;
	background: url(../img/button_s.gif)
}

input.texts {
	width: 58px;
	text-align: center;
	margin-left: 5px;
	background: url(../img/textfield_s.gif) no-repeat;
}

input.textm {
	width: 150px;
	text-align: center;
	margin-left: 5px;
	background: url(../img/textfield_m.gif) no-repeat;
}

input.button {
	width: 58px;
	height: 18px;
	font-size: 13px;
	font-weight: bold;
	background-color: #FFB206;
	color: #222;
	background: url(../img/button_s.gif)
}

input.button:hover {
	background: url(../img/textfield_s.gif)
}

#textarea_div {
	height: 150px;
	width: 150px;
	float: left;
	display:inline-block;
	background:url(../img/textfield-area.gif) no-repeat;
	margin:5px;
}

textarea {
	margin: 0px;
	padding: 0px;
	height: 140px;
	width: 100px;
	border: 0px;
	font-size: 11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #777;
	float:none;
	background-color: transparent;
}

/* ------------------------------------Etiqueta Feedback ------------------------------ */

a#fdbk_tab {
  top: 30%;
  width: 42px;
  height: 102px;
  color: #FFF;
  cursor:pointer;
  text-indent:-100000px;
  overflow:hidden;
  position: fixed;
  z-index: 100000;
  right: 0 !important;
  left: auto !important;
  margin-right: -7px !important;
  margin-left: auto !important;
  background-image: url(../img/feedback.gif);
  _position: absolute;
  _background-image: url(../img/feedback.gif);
}

a#fdbk_tab:hover {
    margin-right: -4px !important;
    margin-left: auto !important;
}

/* ------------------------------------BODY------------------------------------ */

#cuerpo{
	width:1000px;
	margin:40px auto;
	display: block;
}

.negrita{
	font-weight:bold;
	color:#000;
}

/* @end */

/* @group HEADER */

/* ------------------------------------HEADER------------------------------------ */

#header{
	top:0px;
	width: 1000px;
	height:150px;
	margin:0px;
	background: #FFB206 url(../img/header.gif) no-repeat 0 0;
}

#logo{
	margin:0px;
	float:left;
}

/* @group Menu */

#menu {
	display:block;
	position:relative;
	left:40px;
	top:110px;
	margin: 0px;
	padding: 0px;
	width:720px;
	z-index:3;
}

#menu a {
	display: block;
	float: left;
	padding:10px;
	padding-bottom: 2px;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;	
}

/* @end */

/* @group Zuser */

/* ------------------------------------HEADER zona de usuario */

#zuser{
	float:right;
	position:relative;
	top:10px;
	right:0px;
	width:150px;
	height:120px;
	padding:0px 20px 10px 20px;
	background-color: transparent;
	z-index:2;
}

#zuser_name{
	text-align:left;
	font-size:16px;
}

#zuser_flag{
	float:right;
}

#zuser_info{
	margin-top:10px;
	text-align:left;
	font-size:12px;
}

#buy_link{
	margin-top:36px;
	text-align:left;
	font-size:15px;
	text-transform:uppercase;
}

#zuser input {
	margin: 1px;
}

/* @end */

/* ------------------------------------SUBMENU */
#submenu {
	float: left;
	width: 900px;
	height: autos;
	color: #555;
	margin: 15px;
	font-size: 12px;
	text-transform: none;
	font-variant: small-caps;
	letter-spacing: 0.5ex;
}

/* @group Cierres */

#cierres {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #777;
	display: block;
	height:38px;
	min-width:970px;
	margin:0px;
	padding: 5px 5px 5px 0px;
	font-size: 12px;
	background: #FFB206 url(../img/sombray.gif) repeat-x 0 top;
}

#cierres_tit{
	margin:0 0 0 10px;
	display:block;
	padding: 16px 10px 0px 10px;
	float:left;
	font-size:22px;
	font-weight: normal;
}

#cierres p {
	float: left;
	display: block;
	margin: 2px 0px 0px 0px;
	padding: 15px 3px 0px 3px;
}

#cierres a {
	font-weight:bold;
	color: white;
}

.cierres_img{
	display: inline;
	margin-top: -10px;
	height: 32px;
	width: 32px;
}

.cierres_line{
	float:left;
	display:block;
	height:25px;
	width:1px;
	margin-top:8px;
	margin-left: 8px;
	margin-right: 8px;
	background-image: url(../img/cierres_line.gif);
}

#cierres_shadow{
	height:1px;
	min-width:970px;
	background: url(../img/sombraw.gif) repeat-x;
	background-color:#FFF;
	margin:0px;
	padding:0px;
}

/* ------------------------------------HEADER cierres */

/* @end */

/* @end */

/* @group PopUp */

/* ------------------------------------ zona de usuario - comprar fichas*/

#pop {
	width:362px;
	height:401px;
	padding:15px;
	background-color:#FFB206;
	z-index: auto;
}

#pop h1{
	font-size:21px;
	font-weight:bold;
	margin-bottom:15px;
}

#pop h2{
	display: block;
	float: none;
	margin: 35px 50px 15px;
	text-align: center;
	font-size:15px;
	font-weight:bold;
}

#pop h3{
	float:left;
	display:block;
	margin:5px 5px 5px 30px;
	text-align:right;
	font-size:11px;
	width:130px;
}

#pop_line {
	display: inline-block;
	width:260px;
	height:1px;
	margin:10px 50px;
	background-color:#FFF;
}

#pop label {
	display: inline-block;
	margin: 0px;
	font-weight: bold;
	padding: 2px 0px;
	text-align: right;
	width: 150px;
	float: left;
	margin: 2px 0px 0px 0px;
}

#pop input {
	width: 58px;
	height: 18px;
	font-size: 13px;
	font-weight: bold;
	background-color: #FFB206;
	color: #222;
	background: url(../img/button_s.gif)
}

#pop input.texts {
	width: 58px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	background: url(../img/textfield_s.gif) no-repeat;
	padding-top: 2px;
}

#pop input.textm {
	width: 150px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	background: url(../img/textfield_m.gif) no-repeat;
}

#pop input.button {
	color:white;
}

#pop select {
	display: block;
	float:left;
	margin: 5px;
	padding: 0px;
	height: 18px;
	border: 0px;
	font-size: 12px;
	color: #777;
	width: 150px;
	float: left;
}

#pop img {
	display: block;
	margin: 10px auto;
}

/* @end */

/* @group Column */

/* ------------------------------------BODY columnas */

#column_line {
	height:1px;
	background: url(../img/pixel_snoit.gif) repeat-x;
	margin:5px 0px 0px 85px;
}

.column{
	float:left;
	margin: 0 10px 0 10px;
}

.column_h1{
	margin: 0px 0px 0px 0px;
	font-size:22px;
	font-weight:bold;
	line-height:24px;
	color:#000;
	text-align: center;
	background: url(../img/vdivider.gif) no-repeat center bottom;
	padding-bottom: 7px;
}

.column_unit{
	margin: 0px;
	margin-bottom: 30px;
	width:305px;
}

.column_unit img {
	float: left;
	margin-top: 38px;
	margin-right: 10px;
	margin-left: 2px;
	padding-bottom: 20px;
}

.column_cell {
	padding:4px;
	color:#666;
	font-size:11px;
}

.column_puja{
	display:block;
	padding: 0px;
	color:#333;
	text-align: right;
	line-height: 25px;
	position:relative;
	top: 10px;
}

/* DEFINITION LIST PROGRESS BAR */

dd {
	width: 224px;
	height: 15px;
	background: url(../img/bar0.gif) no-repeat 0 0;
	position: relative;
	left: 38px;
	margin-top:-6px;
}

dd span{
	position:absolute;
	display:block;
	width:224px;
	height:15px;
	background:url(../img/bar1.gif) no-repeat 0 0;
	top:0px;
	left:0px;
	overflow:hidden;
	text-indent:-8000px;
}

/* @end */

/* @group Navegación */

/* ------------------------------------BODY columnas - b�squeda */

#nav{
	margin:30px 0px 0px 50px;
}

.nav_list{
	position:relative;
	right:0px;
	font-size:14px;
	color:#707173;
	list-style:none;
	line-height:18px;
}

#nav_txtfield_txt{
	width:160px;
	border:none;
	background:none;
	font-size:12px;
	color:#000;
}

#nav_txtfieldbg{
	position:relative;
	top: 2px;
	right:5px;
	width:197px;
	background-image: url(../img/textfield-browse.gif);
	background-repeat:no-repeat;
	height:21px;
	padding:0px;
	margin:2px;
}

#nav_txtfield {
	max-width: 185px;
	width:185px;
	margin-left:5px;
	margin-top: 4px;
	border: none;
	background:none;
	font-size:11px;
}

/* @end */

/* @group how_menu */

/* ------------------------------------Menú de navegación para HowTo */

#how_menu .column_cell {
	font-size: 14px;
	color:black;
	font-weight:bold;
}

#how_menu ul {
	margin: 3px;
	padding-left:30px;
	font-size: 13px;
	list-style:none;
}

#how_menu li:link {
	list-style: none;
	color:black;	
}

#how_menu li:hover {
	list-style: circle;
}

/* @end */


/* @group Game */

/* ------------------------------------BODY zona de juego */


#game {
	float:left;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color:#222;
	font-size: 13px;
	border: 0px;
	max-width: 640px;
	width:640px;
	margin: 0px;
	background: #FFB206 url(../img/game_body.gif) repeat-y center;
}

#game h1 {
	margin: 5px 0px 0px 5px;
	padding: 0px;
	line-height: 25px;
	font-size: 24px;
	color:#000;
}

#game h2 {
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	text-align: right;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color:#fff;
	line-height:18px;
}

#game h2 img {
	float:right;
	margin-right: 20px;
	display:inline;
}

#game h3 {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

#game .twocols {
	width:300px; 
	text-align:center; 
	display:inline-block; 
	font-size:18px; 
	line-height: 20px;
	height: 50px;
}

#game p, ul {
	display: block;
	line-height: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

#game li {
	line-height: 16px;
	list-style-type: disc;
}

#art_bg {
	float: left;
	width: 198px;
	height: 149px;
	margin-right: 15px;
	margin-left:10px;
}

#art_bg img {
	display: block;
	margin:0px;
}

#game img.c_l {
	float: left;
	margin: 0px;
	padding: 0px;
}

#game img.c_r {
	float: right;
	margin: 0px;
	padding: 0px;
}

#game .none {
	float: none;
	margin: 0px;
	padding: 0px;
}

#gameHead {
	float: left;
	display:block;
	width:640px;
	height:17px;
	margin: 0px;
	padding: 0px;
	background: url(../img/game_head.gif) repeat-x top;
}

#gameBody {
	float: left;
	display: block;
	margin: 0px;
	width: 620px;
	padding: 10px;
}

#gameKicker {
	float:left;
	display:block;
	width:640px;
	margin: 0px;
	padding: 0px;
	background: url(../img/game_kicker.gif) repeat-x left;
}

#game_column1 {
	width:15px;
	height:250px;
	display:block;
	float:left;
	background-image:url(../img/corner_game_r2_c1.gif);
}

#game_column3 {
	width:19px;
	height:250px;
	display:block;
	float:right;
	background-image:url(../img/corner_game_r2_c3.gif);
}

#game_content {
	float:left;
	display:block;
	width:600px;
	padding:0px;
	margin:0px;
}

#game_line{
	display: inline-block;
	width:600px;
	height:10px;
	margin:0px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url(../img/game_divider.gif) no-repeat center center;
}

/* @end */

/* @group Game Form */

/* ------------------------------------BODY zona de juego - FAQ */

#game_form{
	height:140px;
	padding:0px;
}

#game_form_cell{
	display: inline;
	margin:0px;
	width:150px;
	height:125px;
	float: left;
	text-align: center;
}

#game_form_cell.help_box {
	background: url(../img/fondo_ayuda.gif) no-repeat center bottom;
}

#game_form_cell p.bid_cost {
	display: block;
	font-weight: bold;
	color: #000;
	font-size: 13px;
	text-align: left;
	padding-top: 1px;
	margin-top: 20px;
	padding-left: 48px;
	background: url(../img/bid_cost.gif) no-repeat 20px center;
} 

#game span.info_box {
	display: block;
	margin: 20px;
	margin-left: 22px;
	height: 64px;
	width: 107px;
}

#game_form_sub {
	display:inline;
	margin:0px;
	width:150px;
	height:160px;
	float: left;
	text-align: center;
}

#game_form_sub img{
	margin: 0px;
	margin-left: 4px;
	float: left;
	display: block;
}

#game_form_sub p {
	text-align: left;
	margin-top: 10px;
	display: block;
	margin: 0px;
	overflow: auto;
    height: 150px;
}

/* @end */

/* @group Producto */

/* ------------------------------------BODY zona de juego - producto info */

.prod_intro{
	padding:20px 0px;
}

.prod_img{
	padding:5px auto;
	text-align:center;
}

.prod_desc{
	padding:20px 0px;
	line-height:14px;
}

.prod_desc_h1{
	font-size:18px;
	font-weight:bold;
}

.prod_desc_h2{
	font-size:12px;
	font-weight:bold;
	margin-top:20px;

}

.prod_desc_list{
	list-style:circle;
}

/* @end */

/* @group Kicker */

/* ------------------------------------BODY kicker */
#kicker {
	width:1000px;
	color: #999;
	margin: 10px 0px 0px 0px;
	float: right;
	color: #aaa;
	background: url(../img/k_divider.gif) no-repeat center top;
	font-size: 10px;
}

#kicker p {
	text-align: center;
	float: none;
}

.kicker:link {
	margin: 2px 10px;
	display: inline;
	text-align: center;
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a.kicker:active {
	margin: 2px 10px;
	display: inline;
	text-align: center;
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a.kicker:visited {
	margin: 2px 10px;
	display: inline;
	text-align: center;
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a.kicker:hover {
	margin: 2px 10px;
	display: inline;
	text-align: center;
	color: #F60;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* @end */


#hidden {
	margin: 0px;
	padding: 0px;
	height: 0px;
	border: 0px;
	font-size: 10px;
	color: #fff;
	background-color: transparent;
	max-width: 0px;
	float: none;
}
#loginForm {
	float:right;
	top:0px;
	right:0px;
	width:150px;
	height:120px;
	padding:10px 10px 10px 10px;
}
.registerLink{
	margin:100px 0px 0px 50px;
	width:150px;
	padding: 13px 0px 0px;
	color:#333;
	text-align:right;
	line-height:25px;
}
#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}
#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

#facebookButton {
	position:absolute;
	top:130px;
	right:1px;
	width: 150px;
}

#login{
	float:right;
	position:relative;
	right:auto;
	top: 1px;
	width:150px;
	height:120px;
	padding:3px 5px 0px 3px;
	background-color: transparent;
	margin: 0px 10px 0px 0px;
}

#pop img {
	display: block;
	float:left;
	margin: 5px;
	padding: 0px;
	border: 0px;
	width: 150px;
}

#loginButton{
	width: 58px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	background: url(../img/textfield_s.gif) no-repeat;
	padding-top: 2px;
}

.tip-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}

.tip-title {
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	color: #F60;
	font-weight:bold;
	padding: 8px 8px 4px;
	background: url(../img/bubble.png) top left;
}

.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(../img/bubble.png) bottom right;
}

/* @end */