<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
    <servlet>
        <servlet-name>GWTService</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.RegisterServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutService</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutService</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonService</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.CommonServiceImpl</servlet-class>
    </servlet>
    -->
    <filter>
        <filter-name>FacebookUserFilter</filter-name>
        <filter-class>com.reverse.server.FacebookUserFilter</filter-class>
        <init-param>
            <param-name>facebook_api_key</param-name>
            <param-value>39b4cc1578dc9af99a904f89a2921fa2</param-value>
        </init-param>
        <init-param>
            <param-name>facebook_secret</param-name>
            <param-value>85417f72626d9aa4c85c35bad1725093</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FacebookUserFilter</filter-name>
        <servlet-name>FacebookInfo</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>FacebookInfo</servlet-name>
        <servlet-class>com.reverse.server.FacebookInfoImpl</servlet-class>
        <init-param>
            <param-name>apiKey</param-name>
            <param-value>85417f72626d9aa4c85c35bad1725093</param-value>
        </init-param>
        <init-param>
            <param-name>secretKey</param-name>
            <param-value>712670b0b280917a671e35081501ef16</param-value>
        </init-param>
    </servlet>
    <!--
    <servlet>
        <servlet-name>ProposeItemServlet</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.ProposeItemServlet</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>CreateAuctionServlet</servlet-name>
        <servlet-class>com.reverse.server.CreateAuctionServlet</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>ProposedItem</servlet-name>
        <servlet-class>com.reverse.ejb.gwt.server.ProposedItemImpl</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>AuctionsService</servlet-name>
        <servlet-class>com.reverse.server.AuctionsServiceImpl</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>PayPalAreaServlet</servlet-name>
		<servlet-class>com.reverse.server.PayPalAreaServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>ExpressCheckoutServlet</servlet-name>
		<servlet-class>com.reverse.server.ExpressCheckoutServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>ActivationServlet</servlet-name>
        <servlet-class>com.reverse.server.ActivationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.reverse.server.ImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSwf</servlet-name>
        <servlet-class>com.reverse.server.TestSwf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicIndexServlet</servlet-name>
        <servlet-class>com.reverse.server.PublicIndexServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdminArea</servlet-name>
        <servlet-class>com.reverse.server.AdminAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicAreaServlet</servlet-name>
        <servlet-class>com.reverse.server.PublicAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestrictedAreaServlet</servlet-name>
        <servlet-class>com.reverse.server.RestrictedAreaServlet</servlet-class>
    </servlet>
    <!--
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.Public/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.Public/loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.PublicDetails/loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.UserPrivateArea/loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.AdminArea/loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.UserPrivateArea/commonservice</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>FacebookInfo</servlet-name>
        <url-pattern>/facebook</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>ProposeItemServlet</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.Public/proposeItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAuctionServlet</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.AdminArea/createAuctionServlet</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>CreateAuctionServlet</servlet-name>
        <url-pattern>/createAuctionServlet</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>ProposedItem</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.UserPrivateArea/proposeditem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuctionsService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.Public/auctionsservice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuctionsService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.PublicDetails/auctionsservice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuctionsService</servlet-name>
        <url-pattern>/com.reverse.ejb.gwt.UserPrivateArea/auctionsservice</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
		<servlet-name>PayPalAreaServlet</servlet-name>
		<url-pattern>/PayPalArea</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>ExpressCheckoutServlet</servlet-name>
		<url-pattern>/ExpressCheckoutServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivationServlet</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSwf</servlet-name>
        <url-pattern>/TestSwf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicIndexServlet</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArea</servlet-name>
        <url-pattern>/AdminArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicAreaServlet</servlet-name>
        <url-pattern>/PublicArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestrictedAreaServlet</servlet-name>
        <url-pattern>/RestrictedArea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Public</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>User Restricted Area</display-name>
        <web-resource-collection>
            <web-resource-name>UserConstraint</web-resource-name>
            <description/>
            <url-pattern>/userRestricted.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
                        
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
        </auth-constraint>
        <!--
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        -->
    </security-constraint>
    <security-constraint>
        <display-name>Register Secure Area</display-name>
        <web-resource-collection>
            <web-resource-name>RegisterConstraint</web-resource-name>
            <description/>
            <url-pattern>/RestrictedArea*</url-pattern>
            <url-pattern>/gameBoard.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>

            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <display-name>Admin Restricted Area</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description>Admin Restricted Area</description>
            <url-pattern>/AdminArea*</url-pattern>
            <url-pattern>/adminArea.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin Restricted Area</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Paypal Secure Area</display-name>
        <web-resource-collection>
            <web-resource-name>PaypalConstraint</web-resource-name>
            <description/>
            <!-- <url-pattern>/paypalArea.jsp</url-pattern> -->
            <!-- <url-pattern>/PayPalArea</url-pattern> -->
            <url-pattern>/buy.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>

            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
        </auth-constraint>
        <!--
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        -->
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SnoitsRealm</realm-name>
        <form-login-config>
            <form-login-page>/Public</form-login-page>
            <form-error-page>/Public?error=login</form-error-page>
        </form-login-config>
    </login-config>    
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
    <ejb-local-ref>
        <ejb-ref-name>UserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home/>
        <local>com.reverse.ejb.session.UserFacadeLocal</local>
        <ejb-link>reverse-ejb.jar#UserFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AuctionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home/>
        <local>com.reverse.ejb.session.AuctionFacadeLocal</local>
        <ejb-link>reverse-ejb.jar#AuctionFacade</ejb-link>
    </ejb-local-ref>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    </web-app>
